<h3>Lista spotkań</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nazwa gry</th>
      <th>Miejsce rozgrywek</th>
      <th>Data wydarzenia</th>
      <th>Lista graczy</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>      
        <td><%= event.game_name %>
            <%= link_to 'Szczegóły', event, class: "btn btn-info btn-xs" %>
        </td>
        <td><%= match_field_data(event) %></td>
        <td><%= event.date_take_place %></td>
        <td>
          <ul>
            <% event.players.each do |player| %>
              <li><%= player.email %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
<table>

<%= link_to 'Dodaj nowe spotkanie', new_event_path %>
