<h3>Lista spotkań</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nazwa gry</th>
      <th>Miejsce rozgrywek</th>
      <th>Lista graczy</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>      
        <td><%= event.game_name %>
            <%= link_to 'Usuń', event, method: :delete, data: { confirm: 'Czy na pewno?' },
                                       class: "btn btn-info btn-xs" %>
        </td>
        <td><%= match_field_data(event) %></td>
        <td>
          <ul>
            <% event.players do |player| %>
              <li><%= player.email %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
<table>

  <%= link_to 'Dodaj nowe spotkanie', new_event_path %>
