<h3>Moi zawodnicy</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.surname %></td>
        <td><%= player.email %></td>
        <td><%= link_to 'Usun', player, method: :delete %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Dodaj nowego playera', new_player_path %>
